<!DOCTYPE html>
<html>
  <head>
    <title> R.I.P. Prince</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> R.I.P. Princ</h1>
    <p>Welcome to Everything Prince </p>

    <a href='/'>Log In. Your Prince awaits!</a>
    <a href='/hits'>Logout</a>


  </body>
</html>
