<!DOCTYPE html>
<html>
  <head>
    <title> R.I.P. Prince</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Prince</h1>
    <p>R.I.P. Prince </p>

    <a href='/auth/spotify'>Your Prince Awaits. Login to Spotify.</a>
    <a href='/hits'>Logout</a>

  </body>
</html>
