body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: yellow;
  color:purple;
}

a {
  color: white;
  background-color: purple;
}

.playbtn {
  width: 20px;
}

.links {
  background-color: yellow;
  color: purple;
}
